# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/app-builds
/release
main.js
src/**/*.js
!src/karma.conf.js
*.js.map

# C-Sharp Files
/c_sharp_files/QuickStart/.vs/*
/c_sharp_files/QuickStart/packages/*
/c_sharp_files/QuickStart/QuickStart/bin/*
/c_sharp_files/QuickStart/QuickStart/obj/*
/c_sharp_files/QuickStart/QuickStart.Framework/bin/*
/c_sharp_files/QuickStart/QuickStart.Framework/obj/*

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
package-lock.json

# e2e
/e2e/*.js
!/e2e/protractor.conf.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

c-sharp/QuickStart/QuickStart.Core/obj/

c-sharp/QuickStart/.vs/QuickStart/v16/Server/sqlite3/

c-sharp/QuickStart/QuickStart.Core/bin/Debug/netcoreapp2.2/

c-sharp/QuickStart/QuickStart.Core/bin/Debug/netcoreapp2.2/*
c-sharp/QuickStart/QuickStart.Core/bin/Debug/netcoreapp2.2/QuickStart.Core.dll
c-sharp/QuickStart/QuickStart.Core/bin/Debug/netcoreapp2.2/QuickStart.Core.pdb
c-sharp/QuickStart/QuickStart.Framework/bin/Debug/QuickStart.Framework.dll
c-sharp/QuickStart/QuickStart.Framework/bin/Debug/QuickStart.Framework.pdb
c-sharp/QuickStart/QuickStart.Framework/obj/Debug/QuickStart.Framework.csproj.CoreCompileInputs.cache
c-sharp/QuickStart/QuickStart.Framework/obj/Debug/QuickStart.Framework.csproj.FileListAbsolute.txt
c-sharp/QuickStart/QuickStart.Framework/obj/Debug/QuickStart.Framework.csprojAssemblyReference.cache
c-sharp/QuickStart/QuickStart.Framework/obj/Debug/QuickStart.Framework.dll
c-sharp/QuickStart/QuickStart.Framework/obj/Debug/QuickStart.Framework.pdb
